{% extends "layout.html" %}

{% block content %}
    <h1>Coronavirus (COVID-19)</h1>

<br>

COVID-19 is an infectious disease caused by a newly discovered coronavirus (SARS-CoV-2).<a href="https://www.who.int/health-topics/coronavirus#tab=tab_1" target="_blank">(https://www.who.int/)</a>
<br>
<br>
The global death toll currently stands at 2,477,426 while 70 potential coronavirus vaccines are in development according to <a href="https://www.who.int/" target="_blank">World Health Organization (WHO)</a>. Our World in Data did a great job in building out this tracker (right side of your web page). It has options to change countries and the timeline. <a href="https://ourworldindata.org/" target="_blank">(https://ourworldindata.org/)</a>
<br>
<br>
I figured using this blog would be a more efficient way to check up on all my friends around the globe and find out what they have been up to during this pandemic crisis.
<br>
<br>

I have outlined a set of questions you can answer in your post (not compulsory). What you write is totally up to your discretion. Feel free to add any type of content (articles, charts, images) as long as it is related to COVID-19 and cited properly.
<br>
<br>

<ul style="list-style-type:disc;">
  <li>How are you?</li>
  <br>
  <li>What impact did this have on your daily routine, mental and physical health, work, business, relationships and most importantly your perception on life, planet earth and the society?</li>
  <br>
  <li>Are you volunteering? Please share any contact info or links for fundraisers, foodbanks, unemployment help or testing.</li>
  <br>
  <li>What impact did this have on your daily routine, mental and physical health, work, business, relationships and most importantly your perception on life, planet earth and the society?</li>
  <br>
  <li>Have you or any of your near and dear ones been affected? If yes, would you like to share your experience, recommend any precautionary steps for the rest of us?</li>
  <br>
  <li>If you feel comfortable sharing your location, what impact did this have on your country’s economy? How are the government and the populace dealing with it?</li>
  <br>
  <li>Are you working on any projects related to coronavirus? Would you like to share any new information related to development of vaccines, treatment, research? Share any links if you'd like.</li>
  <br>
  <li>Just like the coronavirus, the misinformation has been spreading rapidly too. Any myths you’d like to bust to combat it?</li>
</ul>

<br>

To learn more about my blog and to get started, please <a href="{{ url_for('main.about') }}">proceed here</a>.

<br>
<br>
<br>
{% endblock content %}
