<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Google AdSense -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-173897141-1"></script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-173897141-1');
  </script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

		<title>The Side Project</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{{ url_for('static', filename='sidehome/css/blog-home.css') }}" />
  </head>

  <title>The Side Project</title>


  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='sidehome/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='sidehome/css/blog-home.css') }}" rel="stylesheet">


<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{{ url_for('main.home') }}">thebloglog</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('main.home') }}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">

        <h1 class="my-4">The Side Project</h1>

        <p><i>Insights into industries, communities and lifestyles around the globe via blog interviews.</i></p>
        <p>

        </p>

        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="{{ url_for('static', filename='images/asmaa.png') }}" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Katerina Housos: US Elections, AOC and Lawyering Up in NY</h3>
            <p class="card-text"><i>Katerina Housos a Greek-American lawyer based in New York. She is the founder of Cameleon Global, who are merging the street style of Brooklyn with the vibrant spirit of African inspired textiles while also tackling sustainability head on in the fashion industry.
            <br><br><strong>Interesting fact: </strong></i></p>

            <a href="{{ url_for('main.asmaa') }}" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on January 1, 2020 by
            <a href="#">thebloglog</a>
          </div>
        </div>

        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Rajeev Chattoo: Tinder in NYC, Ghosting & Automation</h3>
            <p class="card-text"><i>Rajeev Chattoo, a Queens native and an Automation Engineer working in the financial services, reveals all the interesting tid bits of the dating scene in New York City.
            <br><br><strong>Interesting fact: </strong></i></p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on January 1, 2020 by
            <a href="#">thebloglog</a>
          </div>
        </div>

        <!-- Blog Post -->
        <div class="card mb-4">
          <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
          <div class="card-body">
            <h3 class="card-title">Sharmeen Ahmad: Women Empowerment, Cross Cultural-Interfaith Learning & Tajuddin Ahmad</h3>
            <p class="card-text"><i>Sharmin Ahmad is the founder and president of the One Light Institute to promote peace and enlightenment through multidimensional education and experiential learning. She received a Woman of Distinction Award for her outstanding contributions in the field of international goodwill and understanding from Soroptimist International of the Americas.<br><br> <i><strong>Interesting fact:</strong></i> Sharmin <i>Ahmad</i> is also the daughter of the first Prime Minister of Bangladesh, Mr. Tajuddin Ahmad.</i></p>
            <a href="#" class="btn btn-primary">Read More &rarr;</a>
          </div>
          <div class="card-footer text-muted">
            Posted on January 1, 2020 by
            <a href="#">thebloglog</a>
          </div>
        </div>

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="{{ url_for('main.human') }}">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

        <!-- Search Widget -->


        <!-- Categories Widget -->

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Purpose</h5>
          <div class="card-body">
            <i>While specializing or focusing on one craft, one community or one facet of life, it can be a struggle to acquire information on roadmaps, pain points and solutions for an alien faction, industry or culture. As I transition into full-stack development, I discovered I could assemble a platform to resolve this one personal struggle of mine through interview-based blogging. I want to be able to gain and share insights not based on google searches but through people’s journeys, experiences and reflections. <br><br>My name is <a href="{{ url_for('main.about') }}">Renadh Chowdhury</a> and this is my side project.

            </i>
          </div>
        </div>

      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; thebloglog 2020</p>
      <p class="m-0 text-center text-white">Design: <a href="https://startbootstrap.com/">Start Bootstrap</a></p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='sidehome/vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='sidehome/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

</body>

</html>
